	<ion-view view-title=" About Us" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> About Us</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		
<div class="padding scroll">

    <div class="padding about-us-box">
        <h2>Cashier App</h2>
        <div>
            Aplikasi POS Cashier pakai QR Code
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://abbasiagian@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: abbasiagian@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
