<ion-tabs class="tabs-striped  tabs-icon-top tabs-background-dark tabs-color-stable" data-ink-opacity=".35" >
	<ion-tab class="{{ hide_menu_dashboard }} menu-dashboard" title="{{ 'Home' | translate }}" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="cashier_app.dashboard" >
		<ion-nav-view animation="none" name="cashier_app-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_products }} menu-products" title="{{ 'Produk' | translate }}" icon-off="ion-android-favorite" icon-on="ion-android-favorite" ui-sref="cashier_app.products({categories:'-1'})" >
		<ion-nav-view animation="none" name="cashier_app-products"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_product_cart }} menu-product_cart" title="{{ 'Keranjang Belanja' | translate }}" icon-off="ion-android-cart" icon-on="ion-android-cart" ui-sref="cashier_app.product_cart" >
		<ion-nav-view animation="none" name="cashier_app-product_cart"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="cashier_app.about_us"  >
		<ion-nav-view animation="none" name="cashier_app-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-bookmarks" title="Bookmarks"  ui-sref="cashier_app.bookmarks"  >
		<ion-nav-view animation="none" name="cashier_app-bookmarks"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="cashier_app.dashboard"  >
		<ion-nav-view animation="none" name="cashier_app-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-faqs" title="Faqs"  ui-sref="cashier_app.faqs"  >
		<ion-nav-view animation="none" name="cashier_app-faqs"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_one" title="Menu One"  ui-sref="cashier_app.menu_one"  >
		<ion-nav-view animation="none" name="cashier_app-menu_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_two" title="Menu Two"  ui-sref="cashier_app.menu_two"  >
		<ion-nav-view animation="none" name="cashier_app-menu_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-product_cart" title="Keranjang Belanja"  ui-sref="cashier_app.product_cart"  >
		<ion-nav-view animation="none" name="cashier_app-product_cart"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-product_checkout" title="Checkout"  ui-sref="cashier_app.product_checkout"  >
		<ion-nav-view animation="none" name="cashier_app-product_checkout"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="cashier_app.slide_tab_menu"  >
		<ion-nav-view animation="none" name="cashier_app-slide_tab_menu"></ion-nav-view>
	</ion-tab>
</ion-tabs>
